<div class="jumbotron">
  <h1 class="display-4">Television shows</h1>
  <p class="lead">Click on the show title for more details.</p>
</div>

<div class="list-group">
    {{#each television_shows}}
        <a href="television_shows/{{this.name}}" class="list-group-item list-group-item-action">{{this.name}}</a>
    {{/each}}
</div>

            <tr>
                <td>
                    <form method="GET" action="/">
                        <input type="hidden" name="offset" value={{ prevOffset }}>
                        <button type="submit">Previous</button>
                    </form>
                </td>
                
                <td>
                    <form method="GET" action="/">
                        <input type="hidden" name="offset" value=0>
                        <button type="submit">1</button>
                    </form>
                    <form method="GET" action="/">
                        <input type="hidden" name="offset" value={{ 10 }}>
                        <button type="submit">2</button>
                    </form>
                    <form method="GET" action="/">
                        <input type="hidden" name="offset" value=20>
                        <button type="submit">3</button>
                    </form>
                </td>

                <td>
                    <form method="GET" action="/">
                        <input type="hidden" name="offset" value={{ nextOffset }}>
                        <button type="submit">Next</button>
                    </form>
                </td>
                
            </tr>

{{!-- 
{{television_shows}}

<h2>List of television shows</h2>

<ul>
    {{#each television_shows}}
        <li>
            <a href="television_shows/{{this.name}}">{{this.name}}</a>
        </li>
    {{/each}}
</ul>

<h2>List of Apps</h2>

<ul>
    {{#each apps}}
        <li>
            <a href="app/{{ this.app_id }}">{{ this.name }}</a>
        </li>
    {{/each}}

</ul> --}}