


<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="{{television_shows.image}}" class="rounded float-left" alt="No image" width="100%">
    </div>
    <div class="col-sm">
        <h3>TV Show Details</h3>
        <table class="table">
            <tr>
                <th scope="row">Name</th>
                
                <td>{{television_shows.name}}</td>
            </tr>
            <tr>
                <th scope="row">Rating</th>
                <td>{{television_shows.rating}}</td>
            </tr>
            <tr>
                <th scope="row">Image</th>
                

            </tr>
            <tr>
                <th scope="row">Summary</th>
                <td>{{television_shows.summary}}</td>
            </tr>
        </table>
    </div>
  </div>
  <div class="row">
      <a class="btn btn-primary" href="/" role="button">Back</a>
<a class="btn btn-primary" href="{{television_shows.official_site}}" role="button">Official site</a>
  </div>
</div>








